body {
    padding: 0;
    margin: 0;
}
.navbar {
    background: palevioletred;
}
.nav-link,
.navbar-brand {
    font-weight: bolder;
    cursor: pointer;
    color: honeydew;
    font-style: italic;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.text {
    font-size: 100px;
    font-display: auto;
    font-weight: bolder;
    color: red;
}
b {
    color: darkorange;
    font-size: 50px;
}
h2 {
    color: white;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
    font-size: 50px;
    text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px red;
    font-size: 60%;
}
p {
    font-size: large;
    color: black;
    font-size: 30%;
}
.first-text {
    position: absolute;
    top: 200px;
    left: 400px;
}
.symbol {
    position: absolute;
    top: 80px;
    left: 600px;
}
