body {
    padding: 0;
    margin: 0;
    background-color: palegreen;
}
.navbar {
    background: palevioletred;
}
.nav-link,
.navbar-brand {
    font-weight: bolder;
    cursor: pointer;
    color: honeydew;
    font-style: italic;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.text {
    font-size: 100px;
    font-display: auto;
    font-weight: bolder;
}
b {
    color: darkorange;
    font-size: 50px;
}
h2 {
    color: white;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
    font-size: 50px;
    text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px red;
    font-size: 60%;
}
p {
    font-size: large;
    color: black;
    font-size: 30%;
}
.first-text {
    position: absolute;
    top: 200px;
    left: 400px;
}
.first-text img {
    position: absolute;
    bottom: -370px;
    left: 220px;
    color: peachpuff;
}
.symbol img {
    position: absolute;
    top: 140px;
    left: 600px;
    width: 70px;
}
.container h2 {
    position: relative;
    bottom: -450px;
    left: 100px;
    color: black;
}
.container p {
    position: relative;
    bottom: -460px;
    right: 150px;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
    font-weight: bold;
    font-size: large;

}
u {
    color:black;
}
.Services img {
    position: relative; bottom: -500px; left: -190px;
    width: 100%;
    height: 8cm;
}
.Services h2 {
    position: relative; bottom: -250px; left: 150px;
    color: yellow;
}
.Services p {
    position: relative; bottom: -260px; right: 160px;
    font-size: 35%;
    text-shadow:  1px 1px 2px white, 0 0 25px black, 0 0 5px papayawhip;
}
.icons img {
    float: left;
    position: relative;
    left: -100px;
    background-color: antiquewhite;
}
.icons h4 {
    position: relative;
    left: -175px;
    bottom: -465px;
}