body {
    padding: 0;
    margin: 0;
    background-color: palegreen;
}
.navbar {
    background: palevioletred;
    left: 0px;
}
.nav-link,
.navbar-brand {
    font-weight: bolder;
    cursor: pointer;
    color: honeydew;
    font-style: italic;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    float: right;
    position: relative;
    right: 50px;
}
.first-text h2 {
    color: white;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
    font-size: 100px;
    text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px red;
    font-size: xxx-large;
    position: relative;
    right: -50px;
    top: -400px;
}
.first-text p {
    font-size: large;
    color: black;
    font-size: large;
    position: relative;
    right: -50px;
    top: -380px;
}
.first-text img {
    position: relative;
    bottom: -540px;
    right: -600px;
}
.symbol img {
    position: absolute;
    top: 140px;
    left: 200px;
    width: 70px;
}
.container h2 {
    position: relative;
    top: -150px;
    right: -500px;
    color: black;
}
.container p {
    position: relative;
    top: -130px;
    right: -100px;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
    font-weight: bold;
    font-size: larger;
    text-shadow:  1px 1px 2px white, 0 0 25px whitesmoke;
}
u {
    color:black;
}
.services img {
    position: relative; top: -100px; left: 130px;
    width: 80%;
    height: 9cm;
}
.services h2 {
    position: relative; top: -400px; right: -600px;
    color: yellow;
}
.services p {
    position: relative; top: -370px; right: -150px;
    font-size: 90;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
.col-sm-12 img {
    float: left;
    position: relative;
    left: 260px;
    top: -150px;
}
.col-sm-12 h4 {
    position: relative;
    left: 180px;
    top: -55px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black, 0 0 25px whitesmoke, 0 0 white;
}
.row h2 {
    position: relative;
    top: -200px;
    right: -500px;
}
.col-sm-8 img {
    position: relative;
    float: center;
    left: 550px;
    top: -230px;
}
.col-sm-8 h4 {
    position: relative;
    top: -220px;
    right: -500px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black, 0 0 25px whitesmoke;
}